<div class="container">
    <div class="row align-items-center justify-content-center">
        <h1>Aaram Healthcare</h1>
    </div>
</div>
<br><br>
<div class="container">
    <div class="col-md-42">

        <div class="float-md-right">
            <label for="exampleFormControlTextarea1">{{now | date:"MMM dd, yyyy 'at' hh:mm a"}}</label>
        </div>
        <div class="float-md-left">
            <h3>Patient</h3>
        </div><br><br><br>

        <form >
            <div class="form-group first mb-2">
                <label for="Name">Name</label>
                <input required autofocus="" [(ngModel)]="Name" type="text" class="form-control" name="Name" id="Name"
                    Name>
            </div>

            <div class="form-group">
                <label for="Address">Address</label>
                <textarea class="form-control" required minlength="10" id="Address" rows="3" [(ngModel)]="Address"
                    name="Address"></textarea>
            </div>

            <div class="form-group ">
                <label for="Age">Age</label>
                <input required="" autofocus="" [(ngModel)]="Age" type="number" class="form-control" name="Age" id="Age"
                    Age>
            </div>

            <div class="form-group ">
                <label for="Phone-no">Phone-no</label>
                <input required="" autofocus="" [(ngModel)]="Phone" type="number" class="form-control" name="Phone-no"
                    id="Phone-no" Phone-no>
            </div>
            <!-- <div class="form-group first mb-2">
                <label for="Disease">Disease</label>
                <input required="" autofocus="" [(ngModel)]="Disease" type="text" class="form-control" name="Disease"
                    id="Disease" Disease>
            </div> -->

            <div class="form-group">
                <label for="Disease">Disease</label>
                <select class="form-control" id="Disease" name="Disease" (change)="addDisease($event.target.value)">
                    <option *ngFor="let item of Disease1;let i=index;">{{ item[i] }}</option>
                </select>
                <br>
                <input *ngIf="other " required autofocus="" (change)="addDisease($event.target.value)" type="text"  class="form-control" name="Disease" id="Disease" >
                <span *ngIf="pid>0" >Old Disease: {{oldD}}</span>
            </div>

            <label for="treatment">Treatment</label><br>
            <div class="form-check form-check-inline" *ngFor="let item of treatmentPlan ; let i=index" >
                <!-- <input class="form-check-input" type="checkbox"value=`{{item.name}}` id="inlineCheckbox1" ngModel [ngModelOptions]="{standalone: true}" value="option1"> -->
                <input class="form-check-input" type="checkbox" value="{{item.name}}" [checked]="item.a" id="inlineCheckbox1"
                    (change)="addTreatment($event,item.name)">
                <label  class="form-check-label" for="inlineCheckbox1">{{item.name}}</label>
            </div>

            <br><br>
            <div class="form-group" *ngIf="itemName">
                <label>Points Image</label>
                <div class="col-md-8">
                    <button class="btn btn-lg btn-outline-primary" 
                    (click)="open(content)"> 
                    open image
                </button> 
                </div>
            </div>
            <div class="form-group" *ngIf="itemName">
                <label for="Points">Points</label>
                <div class="col-md-8">
                    <input required="" autofocus="" [(ngModel)]="Points" class="form-control" type="text" name="Points"
                        id="Points" Points>
                </div>
            </div>

            <div class="form-group">
                <label for="Treatment_Plan">Treatment_Plan</label>
                <select class="form-control" [(ngModel)]="Treatment_Plan" id="Treatment_Plan" name="Treatment_Plan">
                    <!-- <option *ngFor="let item of menu;let i=index;" >{{ item.name }}</option> -->
                    <option value="daily">daily</option>
                    <option value="weekly">weekly</option>
                    <option value="weekly_2times">Weekly(2 Times)</option>
                    <option value="monthly">monthly</option>

                </select>
            </div>
            <div class="form-group" *ngIf=" Treatment_Plan === 'weekly_2times' || Treatment_Plan === 'weekly'">
                <label for="day">day</label>
                <select class="form-control" [(ngModel)]="day" id="day" name="day">
                    <option *ngFor="let item of days;let i=index;" [selected]="day === ngDropdown" >{{ item.name }}</option>


                </select>
            </div>
            <div class="form-group"
                *ngIf="Treatment_Plan === 'daily' || Treatment_Plan === 'weekly' || Treatment_Plan === 'weekly_2times' || Treatment_Plan === 'monthly'">
                <label for="time">time</label>
                <select class="form-control" [(ngModel)]="time" id="time" name="time">

                    <option *ngFor="let item of timeSlot;let i=index;" [selected]="time === ngDropdown" >{{ item.name }}</option>

                </select>
            </div>
            <div class="form-group" *ngIf=" Treatment_Plan === 'weekly_2times'">
                <label for="time1">time1</label>
                <select class="form-control" [(ngModel)]="time1" id="time1" name="time1">
                    <option *ngFor="let item of timeSlot;let i=index;" [selected]="time1 === ngDropdown" >{{ item.name }}</option>

                </select>
            </div>
            <div class="form-group" *ngIf=" Treatment_Plan === 'weekly_2times'">
                <label for="day1">day1</label>
                <select class="form-control" [(ngModel)]="day1" id="day1" name="day1">
                    <option *ngFor="let item of days;let i=index;">{{ item.name }}</option>

                </select>
            </div>

            <div class="form-group first mb-2" *ngIf="Treatment_Plan === 'monthly' ">
                <label for="date">date</label>
                <input required="" autofocus="" [(ngModel)]="date" type="date" class="form-control" name="date"
                    id="date" date (change)="onItemChange()">
            </div>
            <div class="form-group">
                <label for="session">Session</label>
                <select class="form-control" [(ngModel)]="session" id="session" name="session">
                    <!-- <option *ngFor="let item of menu;let i=index;" >{{ item.name }}</option> -->
                    <option value="daily">daily</option>
                    <option value="2Times_In_15Days">2Times_In_15Days</option>

                </select>
            </div>
            <div class="form-group first mb-2" >
                <label for="sdate">Treatment Start Date</label>
                <input required="" autofocus="" [(ngModel)]="startDate" type="date" class="form-control" name="sdate"
                    id="sdate"  >
            </div>
            <div class="form-group first mb-2" >
                <label for="edate">Treatment End Date</label>
                <input required="" autofocus="" [(ngModel)]="endDate"  [value]="endDate" type="date" class="form-control" name="edate"
                    id="edate"  >
            </div>
            <div class="form-group">
                <label for="review">Review</label>
                <textarea class="form-control" id="review" rows="3" cols="10" [(ngModel)]="review"
                    name="review"></textarea>
            </div>
            <!-- <div class="form-group col-md-4">

                    <label for="">Select Image</label>
                    <input (change)="onImageSelect($event)" type="file" class="form-control">
                    <br><br>

                <button (click)="onUploadImage()" class="btn btn-success">Upload</button>
            </div> -->
            <!-- <div class="form-group">
                <label for="exampleFormControlFile1">Video</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div> -->
            <div class="form-group">
                <label for="history">History</label>
                <textarea class="form-control" id="history" rows="3" [(ngModel)]="History" name="History"></textarea>
            </div>
            <!-- <div class="form-group">
                <input (change)="onSelect($event)" type="file" class="form-control">
                <br>
                <button  (click)="onUpload()" class="btn btn-success"> Upload</button>
            </div> -->
            <!-- <input type="submit"  (click)="onSignup()" [value]={{vName}} class="mybtn btn btn-small"> -->
            <button  (click)="onSignup()" class="btn btn-success">{{ pid ? 'Edit' : 'Add' }} Patient</button>
        </form>

    </div>
</div>


<ng-template  #content let-modal> 
    <div class="modal-header"> 
        <h4 class="modal-title" 
            id="modal-basic-title"> 
            Image
        </h4> 
        <button type="button" class="close"
                aria-label="Close" (click)= 
                "modal.dismiss('Cross click')"> 
  
            <span aria-hidden="true"> 
                × 
            </span> 
        </button> 
    </div> 
    <div class="modal-body"> 
        <br><br>
        <img class="zoom" target="_blank" src="../../assets/images/h2_page-0001.jpg" alt="">
        <img class="zoom" src="../../assets/images/h_pages-to-jpg-0001.jpg" alt="">
        <!-- <div class="image-wrapper">
            <img 
             (touchstart)="openZoom($event, true)" 
             (touchend)="openZoom($event, false)"
             (touchmove)="positionZoom($event)"
             src="../../assets/images/h2_page-0001.jpg"
            />
           </div>
           <image-zoom 
            *ngIf="showZoom" 
            [src]="srcImageZoom" 
            [xPos]="xPos" 
            [yPos]="yPos">
           </image-zoom> -->
        <!-- <form> 
            <div class="form-group"> 
                <label for="dateOfBirth"> 
                    Date of birth 
                </label> 
                <div class="input-group"> 
                    <input id="dateOfBirth" 
                        class="form-control" 
                        placeholder="yyyy-mm-dd" 
                        name="dp" ngbDatepicker 
                        #dp="ngbDatepicker"> 
  
                    <div class="input-group-append"> 
                        <button class="btn  
                            btn-outline-secondary calendar" 
                            (click)="dp.toggle()" 
                            type="button"> 
                        </button> 
                    </div> 
                </div> 
            </div> 
        </form>  -->
    </div> 
    <!-- <div class="modal-footer"> 
        <button type="button" 
            class="btn btn-outline-dark" 
            (click)="modal.close('Save click')"> 
            Save 
        </button> 
    </div>  -->
</ng-template> 