.mybtn {
    background-color: #fb771a;
    color: white;
  }
  
  .mybtn:hover {
    background-color: #796354;
    color: white;
  }
  
  p {
    /* color: #b3b3b3; */
    color: black;
    text-align: center;
    font-weight: 300; }
  
  
  
  .form-block {
    background: #fff;
    padding: 40px;
    max-width: 800px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2); }
  
  /* @media (max-width: 767.98px) {
    .form-block {
      padding: 25px; } } */
  