<div class="container">
    <div class="row align-items-center justify-content-center">
        <h1>Aaram Healthcare</h1>
    </div>
</div>
<br><br>
<div class="container">
    <div class="col-md-42">

        <div class="float-md-right">
            <label for="exampleFormControlTextarea1">{{now | date:"MMM dd, yyyy 'at' hh:mm a"}}</label>
        </div>
        <div class="float-md-left">
            <h3>Patient</h3>
        </div><br><br><br>

        <form >
            <div class="form-group first mb-2">
                <label for="Name">Name</label>
                <input required autofocus="" [(ngModel)]="Name" type="text" class="form-control" name="Name" id="Name"
                    Name>
            </div>

            <div class="form-group">
                <label for="Address">Address</label>
                <textarea class="form-control" required minlength="10" id="Address" rows="3" [(ngModel)]="Address"
                    name="Address"></textarea>
            </div>

            <div class="form-group ">
                <label for="Age">Age</label>
                <input required="" autofocus="" [(ngModel)]="Age" type="number" class="form-control" name="Age" id="Age"
                    Age>
            </div>

            <div class="form-group ">
                <label for="Phone-no">Phone-no</label>
                <input required="" autofocus="" [(ngModel)]="Phone" type="number" class="form-control" name="Phone-no"
                    id="Phone-no" Phone-no>
            </div>
            <div class="form-group first mb-2">
                <label for="Disease">Operations</label>
                <input required="" autofocus="" [(ngModel)]="Disease" type="text" class="form-control" name="Disease"
                    id="Disease" Disease>
            </div>

            <label for="treatment">Treatment</label><br>
            <div class="form-check form-check-inline" *ngFor="let item of treatmentPlan ; let i=index">
                <!-- <input class="form-check-input" type="checkbox"value=`{{item.name}}` id="inlineCheckbox1" ngModel [ngModelOptions]="{standalone: true}" value="option1"> -->
                <input class="form-check-input" type="checkbox" value="{{item.name}}" id="inlineCheckbox1"
                    (change)="addTreatment($event,item.name)">
                <label class="form-check-label" for="inlineCheckbox1">{{item.name}}</label>
            </div>

            <br><br>
            <div class="form-group" *ngIf="itemName">
                <label for="Points">Points</label>
                <div class="col-md-8">
                    <input required="" autofocus="" [(ngModel)]="Points" class="form-control" type="text" name="Points"
                        id="Points" Points>
                </div>
            </div>

            <div class="form-group">
                <label for="Treatment_Plan">Treatment_Plan</label>
                <select class="form-control" [(ngModel)]="Treatment_Plan" id="Treatment_Plan" name="Treatment_Plan">
                    <!-- <option *ngFor="let item of menu;let i=index;" >{{ item.name }}</option> -->
                    <option value="daily">daily</option>
                    <option value="weekly">weekly</option>
                    <option value="weekly_2times">Weekly(2 Times)</option>
                    <option value="monthly">monthly</option>

                </select>
            </div>
            <div class="form-group" *ngIf=" Treatment_Plan === 'weekly_2times' || Treatment_Plan === 'weekly'">
                <label for="day">day</label>
                <select class="form-control" [(ngModel)]="day" id="day" name="day">
                    <option *ngFor="let item of days;let i=index;">{{ item.name }}</option>


                </select>
            </div>
            <div class="form-group"
                *ngIf="Treatment_Plan === 'daily' || Treatment_Plan === 'weekly' || Treatment_Plan === 'weekly_2times' || Treatment_Plan === 'monthly'">
                <label for="time">time</label>
                <select class="form-control" [(ngModel)]="time" id="time" name="time">

                    <option *ngFor="let item of timeSlot;let i=index;">{{ item.name }}</option>

                </select>
            </div>
            <div class="form-group" *ngIf=" Treatment_Plan === 'weekly_2times'">
                <label for="time1">time1</label>
                <select class="form-control" [(ngModel)]="time1" id="time1" name="time1">
                    <option *ngFor="let item of timeSlot;let i=index;">{{ item.name }}</option>

                </select>
            </div>
            <div class="form-group" *ngIf=" Treatment_Plan === 'weekly_2times'">
                <label for="day">day1</label>
                <select class="form-control" [(ngModel)]="day1" id="day1" name="day1">
                    <option *ngFor="let item of days;let i=index;">{{ item.name }}</option>

                </select>
            </div>

            <div class="form-group first mb-2" *ngIf="Treatment_Plan === 'monthly' ">
                <label for="date">date</label>
                <input required="" autofocus="" [(ngModel)]="date" type="date" class="form-control" name="date"
                    id="date" date (change)="onItemChange()">
            </div>
            <div class="form-group">
                <label for="session">Session</label>
                <select class="form-control" [(ngModel)]="session" id="session" name="session">
                    <!-- <option *ngFor="let item of menu;let i=index;" >{{ item.name }}</option> -->
                    <option value="daily">daily</option>
                    <option value="weekly">2Times_In_15Days</option>

                </select>
            </div>
            <div class="form-group">
                <label for="review">Review</label>
                <textarea class="form-control" id="review" rows="3" cols="10" [(ngModel)]="review"
                    name="review"></textarea>
            </div>
            <!-- <div class="form-group col-md-4">

                    <label for="">Select Image</label>
                    <input (change)="onImageSelect($event)" type="file" class="form-control">
                    <br><br>

                <button (click)="onUploadImage()" class="btn btn-success">Upload</button>
            </div> -->
            <!-- <div class="form-group">
                <label for="exampleFormControlFile1">Video</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div> -->
            <div class="form-group">
                <label for="history">History</label>
                <textarea class="form-control" id="history" rows="3" [(ngModel)]="History" name="History"></textarea>
            </div>
            <input type="submit" (click)="onSignup()" value="Add" class="mybtn btn btn-small">
        </form>

    </div>
</div>