<!-- <div class="contents"> -->
<!-- <div class="container-sm">
      <div class="row">
        <div class="col-md-4">
          <div class="form-block mx-auto">
            <div class="text-center mb-3">
            </div>
              <h3>Search Name</h3>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                </div>
                <input type="text"  [(ngModel)]="searchText"   placeholder="enter name" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
              </div>
          </div>
        </div>
      </div>
    </div> -->

<!-- <div class="container">
  <div class="card" >
    <div class="card-header">
      <h4>Patient List</h4>
    </div>

    <div class="card-body ">
      <div style="overflow-x: scroll;">
        <table class="table  table-hover table-bordered ">
          <thead class=".thead-light">
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Address</th>
              <th>Age</th>
              <th>Operations</th>
              <th>Treatment</th>
              <th>Treatment_Plan</th>
              <th>Date</th>
              <th>Day</th>
              <th>Day1</th>
              <th>Time</th>
              <th>Time1</th>
              <th>session</th>
              <th style="width:30%">review</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let address of data | filter:searchText |paginate: { itemsPerPage: 5, currentPage: p }; let index = index " >
              <td>{{index + 1}}</td>
              <td>{{address['Name']}}</td>
              <td>{{address['Address']}}</td>
              <td>{{address['Age']}}</td>
              <td>{{address['Disease']}}</td>
              <td>{{address['Treatment']}}</td>
              <td>{{address['Treatment_Plan']}}</td>
              <td>{{address['Date'] }}</td>
              <td>{{address['Day']}}</td>
              <td>{{address['Day1']}}</td>
              <td>{{address['Time']}}</td>
              <td>{{address['Time1']}}</td>
              <td>{{address['session'] }}</td>
              <td class="review">{{address['review'] }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <pagination-controls class = "pagination" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>  -->

<div class="container-fluid">
  <div class="row">
    <div class="card col-md-4">
      <div class="card-body">
        <h3>Search </h3>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
          </div>
          <input type="text" [(ngModel)]="searchText" placeholder="enter name" class="form-control" aria-label="Default"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
    </div>
    <div class="card col-md-5">
      <div class="row">
        <div class="card-body">
          <h3> Treatment Plan Filter</h3>
          <select class="form-control" (change)="filterEvent($event)">
            <option value="-1"></option>
            <option value="0">All</option>
            <option *ngFor="let item of menu;let i=index;">{{ item.name }}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="card-body">
          <h3>Time Filter</h3>
          <select class="form-control" (change)="filterTime($event)">
            <option value="-1"></option>
            <option value="0">All</option>
            <option *ngFor="let item of timeSlot;let i=index;">{{ item.name }}</option>
          </select>
        </div>
        <div class="card-body" *ngIf="isDisabled" >
          <h3>Day Filter</h3>
          <select class="form-control" (change)="filterTime($event)">
            <option value="-1"></option>
            <option value="0">All</option>
            <option *ngFor="let item of menu;let i=index;">{{ item.name }}</option>
          </select>
        </div>
      </div>

    </div>
    <div class="card col-md-3">
      <div class="card-body">
        <h3>Date Range Filter</h3>
        <div>
          <label for="sdate">Treatment Start Date</label>
          <input required="" autofocus=""  type="date" class="form-control" name="sdate"
              id="sdate"   [(ngModel)]="startDate" >
        </div>
        <div>
          <label for="edate">Treatment End Date</label>
          <input required="" autofocus="" type="date" class="form-control" name="edate"
              id="edate" (change)="filterDateFinal($event)"  >
        </div>
        <!-- <select class="form-control" (change)="filterDate($event)">
          <option value="0">All</option>
          <option *ngFor="let item of menu;let i=index;">{{ item.name }}</option>
        </select> -->
      </div>
    </div>
  </div>

  <br>
  <!-- <div *ngFor="let address of data | filter:searchText |paginate: { itemsPerPage: 2, currentPage: p }; let index = index ">
    <div class="card col-md-4">
      <div class="card-body">
        <span>Name : {{address['Name']}}</span>
        <br>
        <span>Address : {{address['Address']}}</span>
        <br>
        <span>Age : {{address['Age']}}</span>
        <br>
        <span>Treatment : {{address['Treatment']}}</span>
        <br>
        <span>Treatment_Plan : {{address['Treatment_Plan']}}</span>
        <br>
        <span>Date :{{address['Date']}}</span>
        <br>
        <span>Day : {{address['Day']}}</span>
        <br>
        <span>Day1 : {{address['Day1']}}</span>
        <br>
        <span>Time : {{address['Time']}}</span>
        <br>
        <span>Time1 : {{address['Time1']}}</span>
        <br>
        <span>session : {{address['session']}}</span>
        <br>
        <span>review : {{address['review']}}</span>
        <br>

      </div>
    </div>
    <br>
    <pagination-controls class = "pagination" (pageChange)="p = $event"></pagination-controls> 
  </div> -->


  <div class="col-md-12">
    <div class="row">
      <div class="card col-md-4"
        *ngFor="let address of data | filter:searchText |paginate: { itemsPerPage: 6, currentPage: p }; let index = index ">
        <div class="card-img-top" >
          <img *ngIf="address['image'] != '' " src="http://localhost:3000/patient/image/{{address['image']}}"  alt="Card image cap">
        </div>


        <hr>
        <div class="card-body">
          <span>Name : {{address['Name']}}</span>
          <br>
          <span>Address : {{address['Address']}}</span>
          <br>
          <span>Age : {{address['Age']}}</span>
          <br>
          <span>Disease : {{address['Disease']}}</span>
          <br>
          <span>Treatment : {{address['Treatment']}}</span>
          <br>
          <span>Treatment_Plan : {{address['Treatment_Plan']}}</span>
          <br>
          <span>Points : {{address['Points']}}</span>
          <br>
          <span *ngIf="address['Date'] != '' ">Date :{{address['Date']}}</span>
          <br *ngIf="address['Date'] != '' ">
          <span *ngIf="address['Day']">Day : {{address['Day']}}</span>
          <br *ngIf="address['Day'] != '' ">
          <span *ngIf="address['Day1']">Day1 : {{address['Day1']}}</span>
          <br *ngIf="address['Day1']">
          <span *ngIf="address['Time']">Time : {{address['Time']}}</span>
          <br *ngIf="address['Time']">
          <span *ngIf="address['Time1']">Time1 : {{address['Time1']}}</span>
          <br *ngIf="address['Time1']">
          <span>session : {{address['session']}}</span>
          <br>
          <span>start Date : {{address['startDate'] | date:shortDate }}</span>
          <br>
          <span>end Date : {{address['endDate'] | date:shortDate }}</span>
          <br>
          <span>review : {{address['review']}}</span>
          <br>
          <span>history : {{address['History']}}</span>
          <br>

          <div *ngIf="address['rBefore']  == '' ">
            <label>Before Treatment : </label>
            <!-- <input (change)="onSelect($event)" type="file" class="form-control"> -->
            &nbsp;<button (click)="onUploadBefore(address['patientId'],$event)"
              class="btn btn-outline-success">Upload</button>
          </div>
          <br>
          <div *ngIf="address['after']  == '' ">
            <label>After Treatment : </label>
            <!-- <input (change)="onSelect($event)" type="file" class="form-control"> -->
            &nbsp;<button (click)="onUploadAfter(address['patientId'])" class="btn btn-outline-success">Upload</button>
          </div>
          <br>
          <div *ngIf="address['image']  == '' ">
            <label>Patient Image  : </label>
            <!-- <input (change)="onSelect($event)" type="file" class="form-control"> -->
            &nbsp;<button (click)="uploadImage(address['patientId'])" class="btn btn-outline-success">Upload</button>
          </div>

          <div *ngIf="address['rBefore']  !== '' ">
            <span>Before Treatment: <button (click)="onClick(address['rBefore'])" type="button"
                class="btn btn-link">Link</button>
              <button (click)="deleteReviewBefore(address['patientId'])" class="btn btn-outline-danger">Delete</button>
            </span>
          </div>
          <br>
          <div *ngIf="address['after']  !== '' ">
            <span>After Treatment : <button (click)="onClick(address['after'])" type="button"
                class="btn btn-link">Link</button>
              <button (click)="deleteReviewAfter(address['patientId'])" class="btn btn-outline-danger">Delete</button>
            </span>
          </div>
        </div>
        <br>
        <!-- <div class="col-md-4"> -->
        <button (click)="updatePatient(address['patientId'])" class="btn btn-outline-warning">Edit</button>
        <br>
        <button (click)="deletePatient(address['patientId'])" class="btn btn-outline-danger">Delete</button>
        <!-- </div> -->
      </div>
    </div>

    <br>
    <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>

  </div>
  <br>
</div>